{% extends 'base.html.twig' %}

{% block main %}

<form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="title">titre  :</label>
    <input type="textarea" name="title" id="title" >
  </div>
  <div class="form-example">
    <label for="description">description  :</label>
    <input type="textarea" name="description" id="description" >
  </div>
  <div class="form-example">
    <input type="submit" value="Subscribe!">
  </div>
</form>



{% endblock %}